nav{
  background-color: #64b5f6;

}

.nav-content{
 text-align:center
}



.unread {
color: #64b5f6;
margin: 0px !important;
padding: 0px !important;
font-weight: bold;
}

time {
margin-bottom: 10px !important;
font-style: italic;
}

.text {
text-align: center;
}

.material-icons {
color: #64b5f6 !important;
cursor: pointer;
}

.secondary-content {
margin-top: -5px !important;
}

.marAll {
color: #64b5b6;
background: inherit !important;
}
